################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/DataAlchemist/v14
/.vs/DataAlchemist/v14
/Common/obj/Debug
/Common/bin/Debug
/Common.Forms/obj/Debug
/Common.Forms/bin/Debug
/Data/obj/Debug
/Data/bin/Debug
/DataMapper/obj/Debug
